[sssd]
domains = {{ realm_domain }}
config_file_version = 2
services = nss, pam

[domain/{{ realm_domain }}]
ad_domain = {{ realm_domain }}
krb5_realm = {{ krb5_default_realm }}
realmd_tags = manages-system joined-with-adcli
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
use_fully_qualified_names = False
ldap_id_mapping = True
use_fully_qualified_names = False
override_homedir = /home/%u
fallback_homedir = /home/%f
access_provider = ad
auth_provider = ad
chpass_provider = ad
ldap_schema = ad
ad_gpo_access_control = permissive
#разрешаем авторизацию только для группы администраторов
ad_access_filter = {{ sssd_access_filter }}
